img{
    width: 250px;
}
h1{
    color: green;
    font-style: italic;
    font-family: sans-serif;
text-decoration: black;
text-transform: uppercase;
text-shadow: 4px 4px black;
text-decoration:  2px  underline;
}
img{
    vertical-align: middle;
}
#profile{
    display: inline-block;
    text-align: center;
    /* word-wrap: break-word; */
    width: 380px;
}
body{
    background-color: lightgrey;
}
h2{
    text-transform: capitalize;
    
     }
    span {
        background-color: lightblue;
    }
    a:hover {
background-color: green;
    } 
    h3{
        font-weight: bold;
        font-style: italic;
     
        text-decoration: 6px green underline dotted;
    }
ul{
    font-family: 'Times New Roman', Times, serif;
}
h4{
    text-decoration: underline;
    text-transform: capitalize;
}
h5{
    font-weight: bold;
    font-size: large;

    }
    .hobby{
        background-color: lightblue;
        margin-right: 1640px;
    }